.env
*/**/.env
master_env.md
*/**/acme.json
immich/library
immich/postgres
gotify/data
portainer/data
uptime_kuma/data
gitea/data
gitea-test/data
gitea/gitea
gitea/postgres
gitea/gitea-db
restic/
homeassistant/config
vaultwarden/data
beszel/beszel_data
fireflyiii/firefly_iii_db
fireflyiii/.db.env
obsidian/config
silverbullet/space
adguardhome/config
authentik/backups
gitea/backups
