.env
*/**/.env
master_env.md
*/**/acme.json
immich/library
immich/postgres
gotify/data
portainer/data
uptime_kuma/data
gitea/gitea
gitea/postgres
restic/
homeassistant/config
vaultwarden/data
beszel/beszel_data
