---
services:
  adguardhome:
    image: adguard/adguardhome
    container_name: adguardhome
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "3000:3000/tcp"
    volumes:
      - ./config:/opt/adguardhome/conf
      - ./work:/opt/adguardhome/work
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.adguardhome.rule=Host(`adguard.local.ejsadiarin.com`)"
      - "traefik.http.routers.adguardhome.entrypoints=https"
      - "traefik.http.routers.adguardhome.tls=true"
      - "traefik.http.services.adguardhome.loadbalancer.server.port=2283"

