---
# run with: 
# ansible-playbook -i ansible/inventory.yml ansible/playbook.yml --become
- name: Prepare K3s Server Node
  hosts: server
  become: true
  tasks:
    - name: Create K3s manifests directory
      ansible.builtin.file:
        path: /var/lib/rancher/k3s/server/manifests
        state: directory
        mode: '0755'

    - name: Copy kube-vip manifest
      ansible.builtin.copy:
        src: files/kube-vip-ds.yaml
        dest: /var/lib/rancher/k3s/server/manifests/kube-vip-ds.yaml
        mode: '0644'

- name: Deploy K3s Cluster
  hosts: k3s_cluster
  collections:
    - k3s.orchestration.site # Assumes collection is installed
