# apps/production/traefik-middlewares/default-whitelist.yaml
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/traefik.io/middleware_v1alpha1.json
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: default-whitelist
  namespace: traefik
spec:
  ipAllowList:
    sourceRange:
      - "10.0.0.0/8"
      - "192.168.0.0/16"
      - "172.16.0.0/12"
      - "100.64.0.0/10" # Tailscale
