# apps/production/traefik-middlewares/https-redirectscheme.yaml
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/traefik.io/middleware_v1alpha1.json
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: https-redirectscheme
  namespace: traefik
spec:
  redirectScheme:
    scheme: https
    permanent: true
